---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";
import { formatDate } from "../../utils/helpers";
import { Show } from "solid-js";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);

  const postResult = posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));

  return postResult;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <div id="article" class="mt-0 mb-12 lg:mb-0 lg:mt-56 px-4">
    <div>
      <header>
        <main class="max-w-3xl mx-auto my-0 pt-10 pb-14">
          <a class="text-neutral-400 flex gap-2" href="/blog/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width={1.5}
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
            </svg>

            Back
            </a>
          <div class="w-full flex flex-col lg:flex-row justify-between mt-4">
            <h1 class="text-white text-5xl font-bold m-0">
              {post.data.title}
            </h1>
            <time class="text-neutral-500 flex items-center">
              {formatDate(post.data.pubDate.toString())}</time
            >
          </div>
          <div class="wrapper gap-2 text-neutral-400">
            <div class="w-full">
              <Show when={post.data.tags && post.data.tags.length > 0}>
                <div class="w-full flex gap-2 my-4">
                  {post.data.tags?.map((t: string) => <Tag title={t} />)}
                </div>
              </Show>
              <p class="description mb-4">{post.data.description}</p>
            </div>
          </div>
          <div class="relative max-h-96 overflow-hidden rounded-xl mb-4">
            {
              post.data?.img && (
                <img
                  class="bg-center bg-cover"
                  src={post.data.img?.url}
                  alt={post.data.img?.alt || ""}
                />
              )
            }
            <div
              class="absolute top-0 bottom-0 left-0 right-0 z-10 bg-gradient-to-t from-dark-500 w-full h-full"
            >
            </div>
          </div>
          <div class="prose prose-invert">
            <Content />
          </div>
        </main>
      </header>
    </div>
  </div>
</Layout>
