---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/helpers";

interface Props {
  post: CollectionEntry<"blog">;
}

const { data, slug } = Astro.props.post;
---

<a href={`/blog/${slug}`}>
  <div
    class="relative flex justify-between w-full max-w-7xl bg-center bg-cover rounded-xl bg-dark-500 border-solid border-2 border-dark-400 hover:border-red-500 overflow-hidden cursor-pointer hover:scale-105 hover:drop-shadow-2xl transition-all duration-200 ease-in-out hover:skew-y-1"
    style={{
      ...(data?.img?.url && { "background-image": `url("${data?.img?.url}")` }),
    }}
  >
    <div
      class="z-0 absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-t from-dark-500 from-20% w-full h-full"
    >
    </div>
    <div
      class="z-0 absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-r from-dark-500 from-30% w-full h-full"
    >
    </div>
    <div
      class="z-0 absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-l from-dark-500 w-full h-full"
    >
    </div>
    <div
      class="flex flex-col justify-between items-start lg:items-center gap-4 h-full w-full py-3 px-4 z-10"
    >
      <div class="w-full">
        <div class="flex flex-col lg:flex-row justify-between mb-4">
          <h2 class="text-white font-bold text-2xl m-0">{data.title}</h2>
          <time class="text-neutral-500 font-light m-0 max-w-10"
            >{formatDate(data.pubDate.toString())}</time
          >
        </div>
        <p class="text-neutral-400 max-w-xl">{data.description}</p>
      </div>
    </div>
  </div>
</a>
